@import "tailwindcss";

@theme {
  --color-brand: #ff7f00;
  --color-brand-light: #fff4e6;
  --color-brand-dark: #cc6600;
  
  --color-accent-bg: #FCE5E2;
  --color-accent-text: #D05C55;
  
  --color-bg-app: #FAF8F5;
  --color-card-bg: #FFFFFF;
  
  --color-text-main: #222E2D;
  --color-text-secondary: #6E7A79;
  
  --font-sans: var(--font-plus-jakarta-sans), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --background: #FAF8F5;
  --foreground: #222E2D;
}

body {
  background-color: #FAF8F5;
  color: #222E2D;
  font-family: var(--font-plus-jakarta-sans), ui-sans-serif, system-ui, sans-serif;
  overflow-x: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Base custom interactive effects */
.tap-highlight-none {
  -webkit-tap-highlight-color: transparent;
}
